main{
    min-height: 80vh;
}

.a-tag{
    text-decoration: none;
    color:#919499;
}

h1{
    font-size: 1.8rem;
    padding: 1rem 0;
}
 
h2{
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.rating span{
    margin: 0.1rem;
}

.product-images{
    height: 210px;
    width: 340px;
}

.btn-block{
    width: 100%;
}
.text-right{
    margin-left: 80vh;
}
