main{
    min-height: 80vh;
}

.a-tag{
    text-decoration: none;
    color:#919499;
}

h1{
    font-size: 1.8rem;
    padding: 1rem 0;
}
 
h2{
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.rating span{
    margin: 0.1rem;
}

.product-image {
  width: 100%; 
  height: auto;
  object-fit: cover;
}


.btn-block{
    width: 100%;
}

.text-right{
    margin-left: 80vh;
}
.pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.product-images{
    height: 210px;
    width: 340px;
    background-color: white;
    margin-bottom: 20px;
}

.btn-block{
    width: 100%;
    background-color: black;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel img {
  display:block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

